
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Gilroy3'; */
    color: #fff;
}


a{
    color: inherit;
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
}
.all {
    width: 100vw;
    overflow: hidden;
}
.hero {
    min-height: calc(100vh - 60px);
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.logo{
    width: 30%;
    max-width: 145px;
    margin: 0 auto 5vh;
    opacity: 0.7;
}
.logo img{
    width: 100%;
}
.relative{
    position: relative;
}
.shadowed{
    position: absolute;
    width: 106%;
    height: 100%;
    left: -10%;
    top: 0;
    transform: skewX(-10deg);
    box-shadow: 0 0 8px 12px rgba(255, 255, 255, 0.3);
}
.clippy{
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 8px 12px rgba(255, 255, 255, 0.3);
    padding: 1em 10% 1em 2em;
}
.clippy h1{
    font-weight: 900;
}
.clip-text{
    opacity: 0.7;
}
.info-grid{
    display: grid;
    grid-template-columns: 48% 4% 48%;
}
.sec-button{
    background-color: rgba(255, 255, 255, 0.253);
    border: 2px solid #fff;
    padding: 10px;
    transition: 0.3s ease;
}
.sec-button:hover{
    border-color: rgb(25, 71, 170);
    background-color: rgb(25, 71, 170);
}
.curved-button{
    clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
}
.spacer{
    width: 100%;
    height: 50px;
}

.center-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-4{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 95%;
    max-width: 650px;
}
.grid-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.time-box{
    width: 90%;
    text-align: center;
    padding: 15px 5px;
    font-weight: 900;
    font-size: 3em;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.35);
}
.left-box{
    border-radius: 15px 0 0 15px;
}
.right-box{
    border-radius: 0 15px 15px 0;
}

.vid-holder{
    position: relative;
    width: 90%;
    max-width: 350px;
    margin: 3vh auto;
    border-radius: 15px;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000;
    transition: 0.4s ease;
    box-shadow: 0 1px 11px 4px rgba(255, 255, 255, 0.4);
}
.stream-vid{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    overflow: hidden;
}

.link-sect{
    width: 90%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 35px;
    box-shadow: 0 4px 10px 3px rgba(255, 255, 255, 0.2);
    margin: 4vh auto 0;
}
.increased-xl{
    font-size: 1.5em;
}

.link-sect a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    width: 46px;
    height: 46px;
    transition: 0.3s ease;
}

.link-sect a:hover{
    background-color: #fff;
    color: #000;
}
.link-sect a:hover i{
    color: #000;
}

.footer{
    background-color: #000;
}

@media all and (max-width: 1300px) {
    .shadowed{
        transform: skewX(-8deg);
    }
}

@media all and (max-width: 1165px) {
    .shadowed{
        transform: skewX(-7deg);
    }
}
@media all and (max-width: 991px) {
    .clippy{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        text-align: center;
        padding: 1em 2em;
    }
    .shadowed{
        transform: skewX(0);
        width: 100%;
        left: 0;
    }
    .curved-button{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .time-box{
        padding: 10px 5px;
        font-size: 2em;
    }
    .lg-close{
        display: none;
    }
}